@import "../css/reset.css";
@import "../css/fonts.css";
@import "../css/components/header.css";
@import "../css/components/presentation.css";
@import "../css/components/help.css";
@import "../css/components/how.css";
@import "../css/components/customer.css";
@import "../css/components/perso.css";
@import "../css/components/partners.css";
@import "../css/components/offers.css";
@import "../css/components/footer.css";

body {
  overflow-x: hidden;
  background: #F8F8F8;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.webgl-content {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: rgba(250,250,250,0.3);
}

body::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 10px;
    background: linear-gradient(#4BBFB9, #9FE3DF);
}
