.persoContainer{
background-color: #F8F8F8;
height: 800px;
text-align: center;

}

.numberTitle {
  font-family: 'Bebas Neue';
  font-size: 160px;
}

.persoTitle {
  font-family: 'Bebas Neue';
  font-size: 40px;
  line-height: 55px;
  color: #4BBFB9;
}

.persoSecondTitle {
  font-family: 'Bebas Neue';
  font-size: 40px;
}

.persoTitleContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 20px;
}
